In [1]:
print("hello")

hello

# balu
## sam
### perm
#### nani
- python
  - python 1
  - python 2
      - python 1
      - python 2
      
 - *python*
 - **python**
- ***balu***

# python

In [2]:
print("hello")

hello

print("balu","samuel")

In [4]:
print("NANI","BALU")

NANI BALU

In [35]:
print("balu sister laxmi lavyana")

balu sister laxmi lavyana

In [6]:
print("hii sindhu")

hii sindhu

# varibles

In [9]:
a = 2 #single varible assained to single value#
print(a)

2

In [10]:
a= b= c= 10#multiple varible assasined to single value#
print(a,b,c)

10 10 10

In [11]:
a,b,c=10,20,30 #multiple varibles assasined to multiple values#
print(a,b,c)

10 20 30

# data types
- int
- floot
- strings

In [13]:
#int
a=5
print(a)
print(type(a))

5
<class 'int'>

In [15]:
#floot
f=1.7
print(f,type(f))

1.7 <class 'float'>

In [16]:
#string
s='balu'
print(s,type(s))

balu <class 'str'>

# Data convertion:
- integers--> *int*
- flooting--> *float*
- stiring--> *str*

In [21]:
n=3
print(n,type(n))
f=float(n)
print(f,type(f))
s=str(n)
print(s,type(s))

3 <class 'int'>
3.0 <class 'float'>
3 <class 'str'>

In [25]:
f=546
print(f,type(f))
n=int(f)
print(n,type(n))
s=str(f)
print(s,type(s))

546 <class 'int'>
546 <class 'int'>
546 <class 'str'>

In [24]:
s=1.33
print(s,type(s))
n=int(s)
print(n,type(n))
f=float(s)
print(f,type(f))

1.33 <class 'float'>
1 <class 'int'>
1.33 <class 'float'>

# inputs functions
- *read inputs for users*

In [28]:
# input as text
a=input("enter your name:")
print("my name is:",a)
print(type(a))

enter your name:balu
my name is: balu
<class 'str'>

In [31]:
#inout as number
q=int(input("enter a number :"))
print(q)
print(type(q))

enter a number :154
154
<class 'int'>

# Display three string “Name”, “Is”, “balu” as “Name**Is**balu”

In [26]:
a="name"
b="is"
c="balu"
print(a,b,c)

name is balu

# Write a Python program which accepts the radius of a circle from the user and compute the area .

In [32]:
radius=int(input("enter a radius"))
area=4.5*radius**2
print("area of the circle:",area)

enter a radius5
area of the circle: 112.5

# Accept two numbers from the user and return their sum, multiplication and division

In [33]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
print("addition is:",a+b,"multiplication is:",a*b,"division is:",a/b)

enter first value:6
enter second value:79
addition is: 85 multiplication is: 474 division is: 0.0759493670886076

# Using input() function, print() function and another function you may need; ask for the current year, then print the answer +21.

In [1]:
year=int(input("enter year:"))
print("results=",year+21)

enter year:64646
results= 64667