In [1]:
print('day-6')

day-6

In [2]:
n=2
n=int(n)
print(n,int(n))

2 2

# operators

# arthematic operators
- **'+'**
- **'-'**
- **'*'**
- **'/'**
- **'%'**
- **'**'**
- **'//'**

In [4]:
x=56
y=56
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

112
0
3136
1.0
0
1
79164324866862966607842406018063254671922245312646690223362402918484170424104310169552592050323456

# assignment operators

In [5]:
x=5
x+=7
print(x)
x-=5
print(x)
x*=5
print(x)
x/=3
print(x)
x**=8
print(x)
x%=2
print(x)
x//=4
print(x)

12
7
35
11.666666666666666
343221367.2648985
1.2648984789848328
0.0

# comparision operators:
- used for to compare values
- operators:

In [13]:
x=378
y=378
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

True
False
False
False
True
True

# logical operators
- used to combine conditional statements
- operators

In [22]:
x=6
print(x>5 and x<5)
print(x>5 or x<5)
print(not(x>5 and x<5))

False
True
True

# identity operators
  - **'is'**
  - **'is not'**

In [23]:
a=3
b=6
c=9
print(a is b)
print(a is c)
print(a is b is not c)

False
False
False

#  membership operators
- used to test given seqence is presented
- **'in'**

In [24]:
a="balaji"
print("b" in a)
print("ba" in a)
print("bi" in a)
print("ba" not in a)

True
True
False
False

# control flow statements
- conditional statements

In [25]:
# check given number is even or odd
n=int (input("enter a number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number6
even number

In [30]:
# check given multiples of both 3 and 5
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [35]:
# check given number is positive, nagitive or zero
n=int(input("enter a number"))
if n==0:
      print("zero")
elif n>0:
      print("positive")
else:
      print("nagitive")

enter a number-22
nagitive

In [38]:
# find a large number from 3 inputs
x=int(input("enter first number"))
y=int(input("enter second number"))
z=int(input("enter third number"))
if x>y>z:
    print("x")
elif y>z:
    print("y")
else:
    print("z")

enter first number4
enter second number1
enter third number9
z

In [44]:
# find grading
n=int(input("enter a grade"))
if n>=99:
    print("O")
elif n>=85 and n<99:
     print("S")
elif n>=75 and n<85:
     print("A")
elif n>=65 and n<75:
     print("B")
elif n>=55 and n<65:
    print("C")
elif n>=45 and n<55:
    print("D")
else:
    print("F")

enter a grade46
D

# WHILE  LOOP STATEMENT

In [45]:
# WANT TO PRINT "BALU" 5 TIMES 
i=1
while i<=5:
    print("balu")
    i=i+1

balu
balu
balu
balu
balu

In [46]:
# print from 1 to 10
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
#from 1 to 10 numbers print only even numbers
i=2
while i<=100:
    print(i,end=" ")
    i=i+2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [1]:
n=int(input("enter a number"))
i=1
while i<=n:
    if n%i==0:
        print(i,end=" ")
    i=i+1

enter a number6
1 2 3 6